body
{
	background-image:url(images/image_de_fond.png);


	
}

head

{
	color: blue;
}






.one 

{
height: 100px;


}

.h1class

{
	border: solid;
	border-radius: 10px;
	background-color: blue;
}


